<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatización</title>
</head>
<body>
    <h1>Mi Aplicación</h1>
    <p> Carga el archivo en formato csv y especifica el separador y el encoding</p>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="archivo">
        <label id="sep">Sep:</label>
        <input type="text" name="sep">
        <label id="encoding">Encoding:</label>
        <input type="text" name="encoding">
        <input type="submit">
    </form>
</body>
</html>